/* general styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--background-default);
}

:root {
    font-family: var(--font-family);
    --background-default: #F5F4F0;
    --border-primary: #D9D9D9;
    --text-primary: #1B1B1B;
    --text-secondary: #333333;
    --text-tertiary: #696969;
    --text-headline: #E1624F;
    --accent-blue: #0C51A7;
    --accent-orange: #E95E10;
    --accent-pink: #E5245E;
    --accent-purple: #591B98;
    --font-family: "Open Sans", sans-serif;
    --font-h1-size: 2.25rem;
    --font-h2-size: 2rem;
    --font-h3-size: 1.75rem;
    --font-weight-titles: 700;
    --font-weight-subtitle: italic;
}

#page {
    max-width: 1120px;
    margin: 80px auto;
}

.subtitle {
    color: var(--text-headline);
    font-weight: var(--font-weight-titles);
    padding-bottom: 8px;
}

/* header */

header,
.description-img {
    margin-bottom: 40px;
}

header h1 {
    font-size: var(--font-h1-size);
    color: var(--text-primary);
    font-weight: var(--font-weight-titles);
    margin-bottom: 16px;
}

/* description-img */

.description-img img {
    width: 100%;
    border-radius: 28px;
    margin-bottom: 24px;
}

.description-img p {
    color: var(--text-secondary);
    font-size: var(--font-subtitle-size);
    font-style: var(--font-weight-subtitle);
    text-align: center;
}

/* content list */

.content-list .divisor {
    max-width: 1120px;
    height: 1px;
    background-color: var(--border-primary);
    margin-bottom: 64px;
}

.title-list h2 {
    font-size: var(--font-h2-size);
    color: var(--text-primary);
    font-weight: var(--font-weight-titles);
    margin-bottom: 8px;
}

.title-list p {
    color: var(--text-secondary);
    font-size: var(--font-paragraph-size);
    margin-bottom: 64px;
}

/* cards */

.card-travel {
    margin-bottom: 48px;
}

.card-travel img {
    width: 100%;
    max-height: 350px;
    border-radius: 28px;
    margin-bottom: 20px;
}

.card-travel h3 {
    font-size: var(--font-h3-size);
    color: var(--text-primary);
    font-weight: var(--font-weight-titles);
    margin-bottom: 4px;
}

.card-travel p {
    color: var(--text-secondary);
    font-size: var(--font-paragraph-size);
}

.card-travel .bold {
    font-weight: var(--font-weight-titles);
}

.card-travel ul {
    padding-left: 20px;
}

.card-travel li {
    font-weight: var(--font-weight-titles);
    margin-bottom: 4px;
}

.card-travel .history {
    color: var(--accent-blue);
}

.card-travel .couples {
    color: var(--accent-purple);
}

.card-travel .families {
    color: var(--accent-pink);
}

.card-travel .buget {
    color: var(--accent-orange);
}

main > p {
    color: var(--text-secondary);
    text-align: center;
    margin-bottom: 65px;
}

/* footer */

footer {
    text-align: center;
    color: var(--text-secondary);
}