* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-family: var(--font-family);
    --background-default: #F5F4F0;
    --border-primary: #D9D9D9;
    --text-primary: #1B1B1B;
    --text-secondary: #333333;
    --text-tertiary: #696969;
    --text-headline: #E1624F;
    --accent-blue: #0C51A7;
    --accent-orange: #E95E10;
    --accent-pink: #E5245E;
    --accent-purple: #591B98;
    --font-family: "Open Sans", sans-serif;
    --font-h1-size: 2.25rem;
    --font-h2-size: 2rem;
    --font-h3-size: 1.75rem;
    --font-headline-size: 1rem;
    --font-paragraph-size: 1rem;
    --font-subtitle-size: 1rem;
    --font-weight-titles: 700;
    --font-weight-paragraph: 400;
    --font-weight-subtitle: italic;
}